@charset "utf-8";
@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
@import "compass/css3";
@import "compass/css3/transition";


@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {
    @include single-transition(padding,300ms,linear,0ms);

    &.ease-in {
        @include single-transition(padding,300ms,ease-in,0ms);
    }

    &.ease-out {
        @include single-transition(padding,300ms,ease-out,0ms);
    }

    &.ease-in-out {
        @include single-transition(padding,300ms,ease-in-out,0ms);
    }

    &.green {
        @include single-transition(all,300ms,ease-in,0ms);
    }
    /* verschiedene Transition function haben ein verschiedenes Verhalten bezüglich ihrer
    relativen Änderungsrate... Animationen können schneller anfangen und langsamer abschließen
    oder umgekehrt oder linear bleiben */

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}
